body {
  background-color: rgb(188, 229, 243);
  width: 1000px;
  height: 1200px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  position: relative;
  right: auto;
  font-size: 80px;
  color: lightcoral;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: lightslategray;
  color: lightgoldenrodyellow;
}